.customers {
  flex: 4;
}

.customersEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.customersDelete{
    color: red;
    cursor: pointer;
}
.orderLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}