.customers {
  flex: 4;
  padding: 20px;
  height: calc(100vh - 80px);
}

.customersEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.customersDelete{
    color: red;
    cursor: pointer;
}
.orderLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.orderLinkButton {
  border: none;
  background-color: #00bcd4;
  padding: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

element.style {
    width: 335px;
    height: 300px;
}
