.login {
  margin: 0;
  padding: 0;
  background: #00bcd4;
  height: 100vh;
  overflow: hidden;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: translate(-50%, -50%);
  width: 380px;
  background-color: white;
  border-radius: 5px;
}

.loginContainer h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(175, 170, 170);
}

.loginContainer .loginForm {
  padding: 0 40px;
  box-sizing: border-box;
}

.loginForm .inputField {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.inputField input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.inputField label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .3s;
}

.inputField span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00bcd4;
  transition: .3s;
}

.inputField input:focus~label,
.inputField input:valid~label {
  top: -5px;
  color: #00bcd4;
}

.inputField input:focus~span::before,
.inputField input:valid~span::before {
  width: 100%;
}


.loginButton {
  width: 60%;
  height: 40px;
  border: 1px solid;
  background-color: #00bcd4;
  border-radius: 5px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 30px;

}

.loginButton:hover {
  border-color: #2691d9;
  transition: .3s;
}

.buttonParent {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .loginContainer {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .loginContainer {
    height: 65%;
    width: 80%;
  }
}
