.customerOrders {
  flex: 4;
  padding: 20px;
}

.orderLinkButton {
  border: none;
  background-color: #00bcd4;
  padding: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.orderLink {
  color: white;
}