.itemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.item {
  z-index: 99;
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemIcon {
  font-size: 35px !important;
}

.item_left {
  flex: 4;
}
.item_right {
  flex: 1;
}

.quantity {
  font-size: 20px;
  font-weight: 600;
}
.title {
  font-weight: 200;
}


.pendingOrdersContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.pendingOrders {
  flex: 1;
  margin: 40px 20px;
  padding: 30px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* dummy это для pending orders  */
.dummy {
  margin: 0px 20px;
  padding: 30px;
  flex: 1;
  z-index: 1;
}

.pendingOrdersText {
  font-size: 20px;
}