.itemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-start;

}

.left_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50%;



  @media screen and (max-width: 380px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.right_container {
  display: flex;
  width: 50%;

    @media screen and (max-width: 380px) {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

}

.item {
  z-index: 99;
  flex: 1 auto;
  margin: 10px 10px 20px 10px;
  padding: 30px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 380px ) {
    width: 80%;
    align-items: center;
  }

}

  .leftContainerItem1 { grid-area: 1 / 1 / 2 / 2; }
  .leftContainerItem2 { grid-area: 1 / 2 / 2 / 3; }
  .leftContainerItem3 { grid-area: 2 / 1 / 3 / 3; }

.itemIcon {
  font-size: 35px !important;
}

.item_left {
  flex: 4;
}
.item_right {
  flex: 1;
}

.quantity {
  font-size: 20px;
  font-weight: 600;
}
.title {
  font-weight: 200;
}

.list {
  list-style: none;
}

.list_element {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 5px 0;
  width: 90%;
  cursor: pointer;
  border-radius: 2px;
}
.list_element:hover {
  background-color: #E5E5E5;
}


.pendingOrdersTitle {
  font-weight: 400;
  font-size: 25px;
}

@media screen and (max-width: 780px) {
  .itemContainer {
    display: flex;
    flex-direction: column;
  }
  .left_container {
    width: 100vw;
  }
  .right_container {
    width: 100vw;
  }
}