.topbar {
  width: 100%;
  height: 80px;
  background-color: #00bcd4;  
}
.topbarWrapper {
  height: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.topRight {
  color: white;
  font-size: 22px;
  font-weight: 800;
}

.topbarMenuIcon { 
  display: block !important;
  color: white;
  cursor: pointer;
  width: 35px !important;
  height: 35px !important;
  position: relative;
  right: 10px;
}