.newProduct {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 80px);
}

.newProductForm {
  margin-top: 10px;
}

.newProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.newProductLabel {
  color: rgb(175, 170, 170);
  font-weight: 600;
  margin-bottom: 10px;
}

.newProductItem > input {
  padding: 10px;
}

.newProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: #00bcd4;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}
