@import '../../styles/styles.module.scss';


.sidebar {
  flex: 1;
  // position: sticky;
  // height: 100vh;
  // background-color: white;
  // box-shadow:$box-shadow;
  // border-radius: 3px;
  // margin-top: 0 !important;
  // max-width: 15rem;
  // z-index: 999999;

}


.sidebarWrapper {
  color: black;
  // background-color: white;
  // box-shadow:$box-shadow;
  // border-radius: 3px;
  // margin-top: 0 !important;
  // max-width: 15rem;
  // z-index: 999999;
}

.sidebarMenu {
  // margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  background-color: white;
  box-shadow:$box-shadow;
  border-radius: 3px;
  max-width: 15rem;
}

.sidebarList {
  list-style: none;
}
.sidebarListItem {
  height: 60px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.sidebarListItem.active, .sidebarListItem:hover {
  background-color: #E5E5E5;
}

.sidebarListItemName{
  font-size: 20px;
}

.sidebarIcon {
  margin-right: 20px;  

}

.linkStyle {
  text-decoration: none;
}

  @media screen and (max-width: 910px){
    .sidebar {
      position: absolute;
      background-color: white;
      box-shadow:$box-shadow;
      border-radius: 3px;
      margin-top: 0 !important;
      min-width: 14rem;
      z-index: 99999;
      transform: translate(-100%);
    }
    .show {
      transform: translate(0);
      // z-index: 99999;
      // background-color: black;
      // flex: 0;
    }
}

  @media screen and (max-width: 780px){
    .sidebar {
      position: absolute;
      height: 100vh;
      background-color: white;
      box-shadow:$box-shadow;
      border-radius: 3px;
      margin-top: 0 !important;
      max-width: 15rem;
      z-index: 99999;
      transform: translate(-100%);
    }
    .show {
      transform: translate(0);
      // z-index: 99999;
      // background-color: black;
      // flex: 0;
    }
}