.sidebar {
  flex: 1;
  height: calc(100vh - 80px);
  background-color: white;
  top: 80px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
  border-radius: 3px;
  margin-top: 0 !important;
  max-width: 15rem;
  transition: 5000 ease;
}

.sidebarWrapper {
  color: black;
}

.sidebarMenu {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
}

.sidebarList {
  list-style: none;
}
.sidebarListItem {
  height: 60px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.sidebarListItem.active, .sidebarListItem:hover {
  background-color: #E5E5E5;
}

.sidebarListItemName{
  font-size: 20px;
}

.sidebarIcon {
  margin-right: 20px;  

}

.linkStyle {
  text-decoration: none;
}