.products {
  flex: 4;
  padding: 20px;
}

.productsEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productsDelete{
    color: red;
    cursor: pointer;
}

.createProduct {
  border: none;
  width: 90px;
  padding: 5px;
  border-radius: 2px;
  background-color: #00bcd4;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.title {
  font-weight: 600;
}
