@import '../../styles/styles.module.scss';

.orders {
  flex: 4;
  padding: 20px;
  height: calc(100vh - 80px);

}

.orderLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.orderLinkButton {
  border: none;
  background-color: #00bcd4;
  padding: 5px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}


.ordersDelete{
    color: red;
    cursor: pointer;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
